.iconDelete {
    color:#d8071f;
}

.iconCheck{
    color:#07d83b;
}

.inputForm {
    border: none;
    margin: none;
    padding: none;
    background-color: transparent;
    resize: none;
    outline: none;
    }

.inputForm:focus{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none; 
}

.primeraCol{
    width: 20%;
}

.segundaCol{
    width: 60%;
}

.terceraCol{
    width: 10%;

}

.cuartaCol{
    width: 10%;
}



